<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xliff PUBLIC "-//XLIFF//DTD XLIFF//EN" "http://www.oasis-open.org/committees/xliff/documents/xliff.dtd">
<xliff version="1.0">
	<file source-language="ES" target-language="en" datatype="plaintext"
		original="menu" product-name="menu">
		<header />
		<body>
			<trans-unit id="1">
				<source>¿Qué es ALPZA?</source>
				<target>What is ALPZA?</target>
			</trans-unit>
			<trans-unit id="2">
				<source>Misión Visión</source>
				<target>Misión Visión</target>
			</trans-unit>
			<trans-unit id="3">
				<source>Junta Directiva</source>
				<target>Board of Directors</target>
			</trans-unit>
			<trans-unit id="4">
				<source>Nuestros Aliados</source>
				<target>Our Allies</target>
			</trans-unit>
			<trans-unit id="5">
				<source>Estatutos y Documentos</source>
				<target>Statutes and Documents</target>
			</trans-unit>
			<trans-unit id="5">
				<source>Comités de ALPZA</source>
				<target>Committees ALPZA</target>
			</trans-unit>
		</body>
	</file>
</xliff>